{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {{ parent() }}
{% endblock %}
{% block title %}Products{% endblock %}
{% block body %}
<div class="container">
    <div class="body-Cards">
        {# {{ dump(user) }} #}
        {# {{ dump(products) }} #}
        {% for product in products %}
            {% if product.id == 1 %}
            <div class="seperate-Cards">
                <div class="card">
                    <div class="imgBox">
                        <img src="{{ asset('resources/pc.png') }}">
                    </div>
                    <div class="contentBox">
                        <h2>{{ product.name }}</h2>
                        <h3>{{ product.price }}€</h3>
                        <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(1)">
                        {{ product.description }}
                    </div>
                </div>
            </div>
            {% elseif product.id == 2  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/drucker.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(2)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% elseif product.id == 3  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/lautsprecher.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(3)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% elseif product.id == 4  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/scanner.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(4)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% elseif product.id == 5  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/cd-laufwerk.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(5)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function buyProduct(productId) {
            /** Ersetzen der URL '/buy/pId', da Twig vor JS gerendert wird und demnach die URL noch nicht erkannt wird **/
            var url = '{{ path('buy', {'pId': 'productId'}) }}';
            url = url.replace('productId', productId);

            $.ajax( url, {
                type: 'GET',
                data: productId,
                success: function () {
                        //document.location.reload();
                },
                error: function () {
                }
            });
        }
    </script>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}


