{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {{ parent() }}
{% endblock %}
{% block title %}Products{% endblock %}
{% block body %}
    <div class="body-Cards">
        {{ dump(user) }}
        {% for product in products %}
            <div class="card">
                <div class="imgBox">
                    <img src="">
                </div>
                <div class="contentBox">
                    <h3>{{product.name}}</h3>
                    <h2 class="price">{{product.price}} €</h2>
                    <a href="#" class="buy">Kaufen</a>
                </div>
                <div>
                    <small><small>Bestand: </small>{{product.stock}}</small>
                </div>
            </div>
        {% endfor %}
    <div>
{% endblock %}


