{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {{ parent() }}
{% endblock %}
{% block title %}Products{% endblock %}
{% block body %}
    <div class="body-Cards">
        {{ dump(user) }}
        {{ dump(products) }}
        {% for product in products %}
            {% if product.id == 1 %}
            <div class="seperate-Cards">
                <div class="card">
                    <div class="imgBox">
                        <img src="{{ asset('resources/pc.png') }}">
                    </div>
                    <div class="contentBox">
                        <h2>{{ product.name }}</h2>
                        <h3>{{ product.price }}€</h3>
                        <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(1)">
                        {{ product.description }}
                    </div>
                </div>
            </div>
            {% elseif product.id == 2  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/drucker.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(2)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% elseif product.id == 3  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/lautsprecher.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(3)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% elseif product.id == 4  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/scanner.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(4)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% elseif product.id == 5  %}
                <div class="seperate-Cards">
                    <div class="card">
                        <div class="imgBox">
                            <img src="{{ asset('resources/cd-laufwerk.png') }}">
                        </div>
                        <div class="contentBox">
                            <h2>{{ product.name }}</h2>
                            <h3>{{ product.price }}€</h3>
                            <input type="button" id="1" class="buy" value="Kaufen" onclick="buyProduct(5)">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function buyProduct(productId) {
            $.ajax('{{ path('buy', {pId: 'productId'}) }}', {
                data: productId,
                success: function () {
                    // document.location.reload(true);
                    console.log('jop');
                },
                error: function () {

                }
            });
        }
    </script>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}


