{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {{ parent() }}
{% endblock %}
{% block title %}Products{% endblock %}
{% block body %}
<div class="body-Cards">
    {% for product in products %}
        <div class="card">
            <div class="imgBox">
                <img src="">
            </div>
            <div class="contentBox">
                <h2>{{ product.name }}</h2>
                <h3>{{ product.price }}€</h3>
                <a href="#" class="buy">Kaufen</a>
                <small>{{ product.description }}</small>
            </div>
        </div>
    {% endfor %}
    {% endblock %}


